@font-face {
    font-family: 'Google';
    src: url("../fonts/google.ttf");
}
@font-face {
    font-family: 'RuStore';
    src: url("../fonts/rustore.otf");
}
@font-face {
    font-family: 'AppGallery';
    src: url("../fonts/appgallery.otf");
}